<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>리뷰 사이트</h1>
    <h2>리뷰 목록</h2>
        {% for post in posts %}
            <li>
                <a href="{% url 'detail' post.pk %}">{{post.title}}</a>
                <br>
            </li>
        {% endfor %}
    <a href="{% url 'new' %}">글쓰기</a>
</body>
</html>